<!doctype html>
<html ng-app="myApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="js/main.js"></script>

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400'>
		<link rel="stylesheet" href="stylesheets/main.css">
	</head>
	<body>

		<div ng-controller="PlayerController">
			<div class="audio-player">
				<a ng-click="play()" ng-show="!playing"><i class="fa fa-play"></i></a>
				<a ng-click="pause()" ng-show="playing"><i class="fa fa-pause"></i></a>
				<p>Playing: {{ playing }}</p>
			</div>

			<ul id="programs_list" class="programs-list">
				<li ng-repeat="story in stories" ng-click="play(story)">
					<span class="story-title">{{ story.title.$text }}</span>
					<span>
						<a href="{{ story.link[0].$text }}" target="_blank"><i class="fa fa-external-link"></i></a>
					</span>
					<span>{{ story.storyDate.$text }}</span>
				</li>
			</ul>

			<!-- <p>{{ programs }}</p> -->
		</div>

	</body>
</html>